<h1>Error en conexi贸n</h1>
<% if (!conexionAM && !conexionInternet) { %>
  <h3>Error: Conexi贸n con Apache Marmotta e Internet no es posible</h3>
<% } else if (!conexionAM) { %>
  <h3>Error: Conexi贸n con Apache Marmotta no es posible</h3>
<% } else if (!conexionInternet) { %>
  <h3>Error: Conexi贸n a Internet no es posible</h3>
<% } %>
<h5>Hable con el administrador del sistema.</h5>
