<style>
    /* Para que la caja de consulta sea de temanio fijo */
    textarea {
        resize: none;
    }
</style>

<h1>Hi, Wellcome to Visualizacion window</h1>
<br>
<textarea id="consulta" rows="10" cols="50" autofocus placeholder="Here goes your query" name="resultado" readonly="true"><%= resultados %></textarea>