<style>
    /* Para que la caja de consulta sea de temanio fijo */
    textarea {
        resize: none;
    }
</style>

<h1>Hola, bienvenido a modo visualización</h1>
<br>
<textarea id="resultados_json" rows="10" cols="50" autofocus placeholder="Here goes your query" name="resultado" readonly="true"><%= resultados %></textarea>
<script>
  json_ = JSON.parse(document.getElementById('resultados_json').innerHTML);
</script>
